<div style="text-align:centre;">
  <h2> Cart Items</h2>
  <ul>
  <%@carts.each do |cart|%>
    <li>
    <%= cart.item.name%>
    <%= cart.start_date%>
    <%= cart.end_date%>
    </li>
  <% end %>
  </ul>
</div>
