.navbar-lewagon {
  justify-content: space-between;
  background: $event-purple;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-collapse {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
}
// .navbar-logo {
//   margin-right: .75rem;
//   height: 38px;
//   border-radius:3px
